.square {
  width: 100px;
  height: 100px;
  background-color: grey;
  border: 1px solid white;
  transition: 0.3s;
}

.clicked {
  background-color: palegoldenrod;
}
.square:hover {
  background-color: burlywood;
  cursor: pointer;
}
