.main-joke {
  border: 1px solid black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 90px;
  justify-content: space-between;
  text-align: start;
}

.joke {
  margin-left: 10px;
  text-align: start;
  float: left;
}

.colorBorder {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 3px solid red;
  padding: 1px;
  transition: 0.2s;
  border-radius: 50%;
  text-align: center;
  background-color: #007acc;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.votes {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
  color: grey;
  user-select: none;
}
.main-joke-img-vote {
  display: flex;
  align-items: center;
}

.vote {
  transition: 0.2s;
}

.vote:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(-5px);
}

.emoji {
  text-align: center;
  font-size: 50px;
  border-radius: 50%;
}

@media (max-width: 700px) {
  .main-joke {
    max-height: none;
  }
  .joke {
    font-size: 23px;
    transform: scale(0.9);
  }
}
@media (max-width: 500px) {
  .joke {
    font-size: 23px;
    transform: scale(0.9);
  }
  .colorBorder {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .emoji {
    font-size: 30px;
  }
}
