.oneGroup {
  background-color: rgba(217, 216, 215, 0.5);
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  width: 25%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



@media only screen and (max-width: 762px) {
    .oneGroup {
        width: 45%;
    }
}


@media only screen and (max-width: 400px) {
    .oneGroup {
        width: 100%;
    }
}